.grafico{
    color:  red;
    height: 600px;
    width: 90%;
    border-color: black;
    border-width: 4px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4), 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.logo{
    position: absolute;
    top: 40px;
    left: 300px;
}

.logo1{
    position: absolute;
    top: 40px;
    right: 40px;
}